* {
    margin: 0px;
    padding: 0px;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none
}

/*header*/
.header {
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px;
    box-shadow: 2px 2px 2px gray;
    margin-bottom: 15px;
}

.header .item {
    float: left;
    margin-left: 30px;
    margin-right: 30px;
}

.header .hl {
    font-size: 18px;
}

.header .hr {
    font-size: 13px;
}

/*container*/
.container .container-cat {
    width: 1080px;
    height: 100px;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
    margin-bottom: 25px;
}
.container .container-cat .categori {
    float: left;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.container .container-cat .categori .simple-img {
    margin-bottom: 10px;
    width: 50px;
    height: 40px;
    background-image: url(../img/index/food.jpeg);
    background-size: 100% 100%;
}

.container .container-ad {
    margin: 0 auto;
    width: 1080px;
    height: 500px;
    box-sizing: border-box;
    border: 1px solid black;
    overflow: hidden;
    position: relative;
}
 
.container .container-ad .img-box {
    display: flex;
    width: 1080px;
    height: 500px;
}

.container .container-ad .img-box img {
    min-width: 1080px;
}

.arrow-container {
    display: flex;
    justify-content: space-between;
}
.arrow-container button {
    border: none;
    background-color: white;
}

.foo-container {
    display: flex;
    justify-content: space-between;
}

.hidden { display: none; }

/*레시피 랭킹*/
.container-rank { margin-top: 50px; }
.rank-title { width: 1080px; margin: auto; }
.rank-frame { display: grid; grid-template-columns: 1fr 1fr; margin: auto; margin-top: 10px; width: 1080px; height: 100%;}
.rank-item-wrap { width: 540px; height: 100px; }
.rank-item { display: flex; width: 540px; height: 98px; border-top: 1px solid #f4f4f4; border-bottom: 1px solid #f4f4f4; }
.rank-number { display: table; font-size: 30px; width: 50px; }
.rank-number > p { display: table-cell; vertical-align: middle; text-align: center; }
.rank-img { background-image: url(../img/index/rank-bg.png); background-size: 100% 100%; width: 100px; height: 100px; }
.rank-plus { width: 1080px; margin-top: 10px; margin: auto; text-align: center; font-size: 20px; border-bottom: 1px solid #f4f4f4; }
.rank-text { margin: auto;}
.rank-text > p { width: 300px; }
.rank-text > p:first-child { margin-bottom: 5px; }

/*레시피 추천*/
.container-rem { margin-top: 50px; }
.rem-title { width: 1080px; margin: auto; }
.rem-frame { display: grid; grid-template-columns: repeat(3,3fr); width: 1080px; height: 300px; }