* {
    margin: 0px;
    padding: 0px;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none
}

/*header*/
.header {
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px;
    box-shadow: 2px 2px 2px gray;
    margin-bottom: 15px;
}

.header .item {
    float: left;
    margin-left: 30px;
    margin-right: 30px;
}

.header .hl {
    font-size: 18px;
}

.header .hr {
    font-size: 13px;
}

/*container*/
.container .container-cat {
    width: 1080px;
    height: 100px;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
    margin-bottom: 25px;
}
.container .container-cat .categori {
    float: left;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.container .container-cat .categori .simple-img {
    margin-bottom: 10px;
    width: 50px;
    height: 40px;
    background-image: url(../img/index/food.jpeg);
    background-size: 100% 100%;
}

.container .container-ad {
    margin: 0 auto;
    width: 1080px;
    height: 500px;
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.container .container-ad .img-box {
    width: 3240px;
    height:100%;
    display:flex;
    flex-wrap:nowrap;
    animation: bannermove 20s linear infinite;
}

@keyframes bannermove {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(-100%, 0);
    }
    100% {
        transform: translate(0, 0);
    }
  }



.hidden { display: none; }

/*레시피 추천*/
.container-rem { margin-top: 50px; }
.rem-title { width: 1080px; margin: auto; }
.rem-frame { display: grid; grid-template-columns: 1fr 1fr; margin: auto; margin-top: 10px; width: 1080px; height: 100%;}
.rem-item-wrap { width: 540px; height: 100px; }
.rem-item { display: flex; width: 540px; height: 98px; border-top: 1px solid #f4f4f4; border-bottom: 1px solid #f4f4f4; }
.rem-number { display: table; font-size: 30px; width: 50px; }
.rem-number > p { display: table-cell; vertical-align: middle; text-align: center; }
.rem-img { background-image: url(../img/index/rem-bg.png); background-size: 100% 100%; width: 100px; height: 100px; }
.rem-plus { width: 1080px; margin-top: 10px; margin: auto; text-align: center; font-size: 20px; border-bottom: 1px solid #f4f4f4; }
.rem-text { margin: auto;}
.rem-text > p { width: 300px; }
.rem-text > p:first-child { margin-bottom: 5px; }