* {
    margin: 0px;
    padding: 0px;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none
}

           /*header*/
.header {
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px;
    box-shadow: 3px 3px 3px gray;
}

.header .item {
    float: left;
    margin-left: 30px;
    margin-right: 30px;
}

.header .hl {
    font-size: 18px;
}

.header .hr {
    font-size: 13px;
}